body {
    font-weight: bold;
    text-align: center;
    color: red;
    font-family: 'Courier New', Courier, monospace;
}
.grid-sample {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}
.grid-sample ul, ol {
    text-decoration: underline;
    cursor: pointer;
    list-style: none;
}
footer form {
    margin: 10px 0;
}
.testingxd {
    border: solid 1px black;
    width: 70%;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
    color: blue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: lighter;
}
.testingxd:hover {
    color: brown;
    cursor: pointer;
    border: solid 1px brown;
}
.master {
    color: blue;
}
.master ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: aqua;
}
.master ul:hover {
    background-color: red;
    color: black;
    text-decoration: underline;
    cursor: pointer;
}
